**IS362 Week 7 Assignment**
By Alexander Doler and Jake Kwok

Choose six recent popular movies. Ask at least five people that you know (friends, family, classmates, imaginary friends) to rate each of these movies that they have seen on a scale of 1 to 5. There should be at least one movie that not everyone has seen!

In [52]:
#loading libraries
import pandas as pd
import numpy as np
import sys
from pandas import DataFrame, read_csv

**1. Loaded the ratings by user information using a bunch of lists**

From creating the list i managed zipping the data in steps of creating a dataframe.

In [53]:
Reviewers = ['John', 'Logan', 'Modesto', 'Malcolm', 'Maurice']
American_Sniper = [5, 4, 0, 0, 5]
Edge_of_tomorow = [4, 0, 0, 0, 4]
Ground_hog_day = [3, 3, 4, 2, 4]
Jurssic_world = [0, 3, 0, 0, 2]
Lost_in_translation = [0, 0, 4, 4, 3]
Lucy = [4, 0, 4, 0, 3]

In [54]:
Moviereviews = list(zip(American_Sniper, Edge_of_tomorow, Ground_hog_day, Jurssic_world, Lost_in_translation, Lucy))
Moviereviews

[(5, 4, 3, 0, 0, 4),
 (4, 0, 3, 3, 0, 0),
 (0, 0, 4, 0, 4, 4),
 (0, 0, 2, 0, 4, 0),
 (5, 4, 4, 2, 3, 3)]

In [55]:
df = DataFrame(data = Moviereviews, columns=['American_Sniper', 'Edge_of_tomorow', 'Ground_hog_day', 'Jurssic_world', 'Lost_in_translation', 'Lucy'],
              index=['John', 'Logan', 'Modesto', 'Malcolm', 'Maurice'])
df

,American_Sniper,Edge_of_tomorow,Ground_hog_day,Jurssic_world,Lost_in_translation,Lucy
John,5,4,3,0,0,4
Logan,4,0,3,3,0,0
Modesto,0,0,4,0,4,4
Malcolm,0,0,2,0,4,0
Maurice,5,4,4,2,3,3

In [56]:
#added these lines of code to produce the data on a csv file, but thought it was not necessary.
#df.to_csv('moviereviews.csv', index=True, header=True)

In [57]:
#csvfile = r'/Users/Shared/movieereviews.csv'
#df = pd.read_csv(csvfile)

**2. Show the average ratings for each user and each movie.**

Managed to get the average of every movie from ratings.

In [58]:
df["American_Sniper"].mean()
df["Edge_of_tomorow"].mean()
df["Ground_hog_day"].mean()
df["Jurssic_world"].mean()
df["Lost_in_translation"].mean()
df["Lucy"].mean()

2.2

Overall stats of the reviewers and movie ratings

In [59]:
df.describe()

,American_Sniper,Edge_of_tomorow,Ground_hog_day,Jurssic_world,Lost_in_translation,Lucy
count,5.000000,5.00000,5.00000,5.000000,5.00000,5.00000
mean,2.800000,1.60000,3.20000,1.000000,2.20000,2.20000
std,2.588436,2.19089,0.83666,1.414214,2.04939,2.04939
min,0.000000,0.00000,2.00000,0.000000,0.00000,0.00000
25%,0.000000,0.00000,3.00000,0.000000,0.00000,0.00000
50%,4.000000,0.00000,3.00000,0.000000,3.00000,3.00000
75%,5.000000,4.00000,4.00000,2.000000,4.00000,4.00000
max,5.000000,4.00000,4.00000,3.000000,4.00000,4.00000

**3. Normalized Ratings**

Create a new pandas dataframe, with normalized ratings for each user. Again, show the average
ratings for each user and each movie

In [60]:
df_norm = (df - df.mean()) / (df.max() - df.min())
df_norm

,American_Sniper,Edge_of_tomorow,Ground_hog_day,Jurssic_world,Lost_in_translation,Lucy
John,0.44,0.6,-0.1,-0.333333,-0.55,0.45
Logan,0.24,-0.4,-0.1,0.666667,-0.55,-0.55
Modesto,-0.56,-0.4,0.4,-0.333333,0.45,0.45
Malcolm,-0.56,-0.4,-0.6,-0.333333,0.45,-0.55
Maurice,0.44,0.6,0.4,0.333333,0.20,0.20

In [61]:
df_norm.mean()

American_Sniper        6.661338e-17
Edge_of_tomorow       -2.220446e-17
Ground_hog_day        -8.881784e-17
Jurssic_world          0.000000e+00
Lost_in_translation   -4.440892e-17
Lucy                  -4.440892e-17
dtype: float64

In [62]:
df_norm.max() - df_norm.min()

American_Sniper        1.0
Edge_of_tomorow        1.0
Ground_hog_day         1.0
Jurssic_world          1.0
Lost_in_translation    1.0
Lucy                   1.0
dtype: float64

**Extra Credit**

Standarization form of movie ratings

In [37]:
ratings_stand = (df-df.mean()) / df.std()
ratings_stand.std()

American_Sniper        1.0
Edge_of_tomorow        1.0
Ground_hog_day         1.0
Jurssic_world          1.0
Lost_in_translation    1.0
Lucy                   1.0
dtype: float64

**Conclusion**

With this assignment we can do the normalization to reach a linear, more robust relationship between movie ratings. Commonly when the relationship between two dataset is non-linear we transform data to reach a linear relationship.